.constrast-info {
  ol {
    list-style-type: decimal;
  }
  li {
    line-height: 25px;
    span {
      padding: 2px 10px;
      background-color: #eeeeee;
      margin: 0 5px;
      border-radius: 8px;
    }
  }
}
.constrastTable {
  :global(.col-result){
	text-align:center;
  }
  :global(.th-necessary-col){
	background-color: rgba(65, 146, 241, 0.1);
  }
  :global(.th-secondary-col){
	background-color: rgba(255,152,0, 0.1);
  }
  :global(.ant-table-tbody > tr:hover > td.th-necessary-col) {
	background-color: rgba(65, 146, 241, 0.2);
  }
  :global(.ant-table-tbody > tr:hover > td.th-secondary-col) {
	background-color: rgba(255,152,0,0.2);
  }
  :global(.ant-table-thead > tr > th.thg-necessary) {
    //background-color: #e65100;
	background-color: rgba(65, 146, 241, 1.00);
	color:#fff;
  }
  :global(.ant-table-thead > tr > th.thg-necessary-sub) {
    //background-color: #ff7043;
    background-color: rgba(65, 146, 241, 0.7);
	color:#fff;
  }
  :global(.ant-table-thead > tr > th.th-necessary-col) {
	//background-color: #ffccbc;
	background-color: rgba(65, 146, 241, 0.3);
	color: rgba(0, 0, 0, 0.65);
	text-align:center;
  }
  :global(.ant-table-thead > tr > th.thg-secondary) {
    background-color: rgba(255,152,0,1);
	//background-color: rgba(117, 117, 117,1);
	color:#fff;
  }
  :global(.ant-table-thead > tr > th.thg-secondary-sub) {
	background-color: rgba(255,152,0,0.7);
	//background-color: rgba(117, 117, 117,0.7);
	color:#fff;
  }
  :global(.ant-table-thead > tr > th.th-secondary-col) {
	background-color: rgba(255,152,0,0.3);
	//background-color: rgba(117, 117, 117,0.3);
    color: rgba(0, 0, 0, 0.65);
	text-align:center;
  }
}
