$transition-ease-in: all 0.3s ease-out;
$transition-ease-out: all 0.3s ease-out;
$shadow-2: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
$primary-color: #108ee9;
.header {
  background-color: #ffffff;
  padding: 0;
  height: 45px;
  box-shadow: $shadow-2;
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 999;
  .func-menu {
	line-height: 45px;
	float: right;
  }
  .rightWarpper {
	display: flex;
	padding-right: 16px;
  }
  .button {
	width: 45px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
	float: left;
	transition: $transition-ease-in;

	&:hover {
	  color: #108ee9;
	  background-color: rgba(#108ee9, .15);
	}
  }
}
